@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-size: calc(1em + 1vw);
  background: #4f4557;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
  background: var(--blue);
}

:root {
  --purple2: #acb1d6;
  --purple: #8294c4;
  --blue: #dbdfea;
  --piel: #ffead2;
  --whether: #fff;
  --black: #4f4557;
}
.header {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  padding: 2rem;
  background-color: var(--purple);
  color: var(--black);
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}
form label {
  font-size: 2rem;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
form input,
form textarea {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}
form button[type="submit"] {
  background-color: var(--purple2);
  border: none;
  border-radius: 3px;
  color: white;
  padding: 10px;
  font-size: 2rem;
}
form input {
  font-size: 2rem;
}
.progresso-card {
  width: 100%;
  height: 100vh;
  border: solid 2px red;
}
.list-completada {
  width: 100%;
  height: 100vh;
  border: solid 2px red;
}
/* section de la card tenderizer*/

.card-javascript li a {
  display: flex;
  list-style: none;
  text-decoration: none;
  /* border: solid 2px red; */
}
.lista-pendientes {
  width: 100%;
  height: 20vh;
  border: solid 2px red;
}
.progresso-card {
  /* padding: 40px 20px; */
  /* text-decoration: none; */
  /* list-style: none; */
  /* border: solid 2px red; */
}
